@page "/PokemonDetails/{id:int}"
@inject PokemonService PokemonService
@using PokeCodexBlazor
@rendermode InteractiveServer

<head>
    <link rel="stylesheet" href="PokemonDetails.css">
</head>

<h3>Pokemon Details</h3>
<button><a href="/" style="text-decoration: none; color: black;">Back</a></button>

@if (pokemon == null)
{
    <p>Loading...</p>
}
else
{
    string gifFilePath = $"/images/pokemon/{pokemon.Name}.gif";
    string secondLevelPokemon = nextLevelPokemon != null ? $"/images/pokemon/{nextLevelPokemon.Name}.gif" : "";
    string firstLevelPokemon = backLevelPokemon != null ? $"/images/pokemon/{backLevelPokemon.Name}.gif" : "";
    string thirdLevelPokemon = nextNextLevelPokemon != null ? $"/images/pokemon/{nextNextLevelPokemon.Name}.gif" : "";
    string firstLevelPokemonForThirdLPokemons = backBackLevelPokemon != null ? $"/images/pokemon/{backBackLevelPokemon.Name}.gif" : "";
    <div style="margin-bottom: 670px">
        <div id="pokedex">
            <div id="left">
                <div id="logo"></div>
                <div id="bg_curve1_left"></div>
                <div id="bg_curve2_left"></div>
                <div id="curve1_left">
                    <div id="buttonGlass">
                        <div id="reflect"> </div>
                    </div>
                    <div id="miniButtonGlass1"></div>
                    <div id="miniButtonGlass2"></div>
                    <div id="miniButtonGlass3"></div>
                </div>
                <div id="curve2_left">
                    <div id="junction">
                        <div id="junction1"></div>
                        <div id="junction2"></div>
                    </div>
                </div>
                <div id="screen">
                    <div id="topPicture">
                        <div id="buttontopPicture1"></div>
                        <div id="buttontopPicture2"></div>
                    </div>
                    <div id="picture">
                        <div style="margin-top: 10%">
                            <img src="@gifFilePath" height="100px" onerror="this.src='/images/default.gif'; this.onerror=null;" />
                        </div>
                    </div>
                    <div id="buttonbottomPicture"></div>
                    <div id="speakers">
                        <div class="sp"></div>
                        <div class="sp"></div>
                        <div class="sp"></div>
                        <div class="sp"></div>
                    </div>
                </div>
                <div id="bigbluebutton"></div>
                <div id="barbutton1"></div>
                <div id="barbutton2"></div>
                <div id="cross">
                    <div id="leftcross">
                        <div id="leftT" @onclick="PreviousPokemonClick" style="cursor: pointer;"></div>
                    </div>
                    <div id="topcross">
                        <div id="upT"></div>
                    </div>
                    <div id="rightcross">
                         
                        <div id="rightT" @onclick="NextPokemonClick" style="cursor: pointer; "></div>
                    </div>
                    <div id="midcross">
                        <div id="midCircle"></div>
                    </div>
                    <div id="botcross">
                        <div id="downT"></div>
                    </div>
                </div>
            </div>
            <div id="right">
                <div id="stats">
                    <strong>Name:</strong> @pokemon.Name <br />
                    <strong>Type:</strong> @pokemon.Type1 <br />
                    <strong>Height:</strong> @pokemon.Height <br />
                    <strong>Weight:</strong> @pokemon.Weight <br /><br />
                    <strong>@pokemon.Description</strong><br />
                </div>
                <div id="blueButtons1">
                    <div class="blueButton"></div>
                    <div class="blueButton"></div>
                    <div class="blueButton"></div>
                    <div class="blueButton"></div>
                    <div class="blueButton"></div>
                </div>
                <div id="blueButtons2">
                    <div class="blueButton"></div>
                    <div class="blueButton"></div>
                    <div class="blueButton"></div>
                    <div class="blueButton"></div>
                    <div class="blueButton"></div>
                </div>
                <div id="miniButtonGlass4"></div>
                <div id="miniButtonGlass5"></div>
                <div id="barbutton3"></div>
                <div id="barbutton4"></div>
                
                @if (pokemon.Id != pokemonNumbers && pokemon.Id != 150 && nextLevelPokemon.Level != pokemon.Level)
                {
                    <div id="yellowBox1" class="d-flex justify-content-center">
                        @switch (pokemon.Level)
                        {
                            case 1:
                                if (pokemon.Id != pokemonNumbers && nextLevelPokemon != null && nextLevelPokemon.Level > 1)
                                {
                                    <p style="display: flex; position: absolute; top: 71px; font-size: xx-small; color: white; text-decoration-style: double; ">
                                         Level 2
                                    </p>
                                    <img src="@secondLevelPokemon"  height="fit-content" onerror="this.src='/images/default.gif'; this.onerror=null;" />
                                    @* <button @onclick="SecondLevelPokemonClick"></button> *@
                                }
                                break;
                            case 2:
                                if (backLevelPokemon != null && backLevelPokemon.Level == 1)
                                {
                                    <p style="display: flex; position: absolute; top: 71px; font-size: xx-small; color: white; text-decoration-style: double; ">
                                        Level 1
                                    </p>
                                    <img src="@firstLevelPokemon" height="fit-content" onerror="this.src='/images/default.gif'; this.onerror=null;" />
                                    @* <button @onclick="FirstLevelPokemonClick"></button> *@
                                }
                                break;
                            case 3:
                                if (backBackLevelPokemon != null && backBackLevelPokemon.Level == 1)
                                {
                                    <p style="display: flex; position: absolute; top: 71px; font-size: xx-small; color: white; text-decoration-style: double; ">
                                        Level 1
                                    </p>
                                    <img src="@firstLevelPokemonForThirdLPokemons" height="fit-content" onerror="this.src='/images/default.gif'; this.onerror=null;" />
                                    
                                }
                                break;
                            default:
                                <p style="display: flex; align-items: center; justify-content: center; width: 140px; height: 70px;">
                                    NONE
                                </p>
                                break;
                        }
                    </div>
                }

                  @if (pokemon.Name == "Jolteon" || pokemon.Name == "Flareon")
                    {
                      <div id="yellowBox1" class="d-flex justify-content-center">
                           <img src="images/pokemon/Eevee.gif" height="fit-content" onerror="this.src='/images/default.gif'; this.onerror=null;" />
                       </div>
                    }


                @if (pokemon.Id != pokemonNumbers && pokemon.Id != 150 && nextLevelPokemon.Level != pokemon.Level && nextNextLevelPokemon.Level != pokemon.Level && pokemon.Name != "Flareon")
                {
                    <div id="yellowBox2" class="d-flex justify-content-center">
                        @switch (pokemon.Level)
                        {
                            case 1:
                                if (pokemon.Id != 151 && pokemon.Id != 150 && nextNextLevelPokemon != null && nextNextLevelPokemon.Level == 3)
                                {
                                    <p style="display: flex; position: absolute; top: 71px; font-size: xx-small; color: white; text-decoration-style: double; ">
                                        Level 3
                                    </p>
                                    <img src="@thirdLevelPokemon" height="fit-content" onerror="this.src='/images/default.gif'; this.onerror=null;" />
                                }

                                else if (pokemon.Name == "Eevee")
                                {
                                    <p style="display: flex; position: absolute; top: 71px; font-size: xx-small; color: white; text-decoration-style: double; ">
                                        Level 2
                                    </p>
                                    <img src="images/pokemon/Flareon.gif" height="fit-content" onerror="this.src='/images/default.gif'; this.onerror=null;" />
                                }
                                break;
                            case 2:
                                if (nextLevelPokemon != null && nextLevelPokemon.Level > 2)
                                {
                                    <p style="display: flex; position: absolute; top: 71px; font-size: xx-small; color: white; text-decoration-style: double; ">
                                        Level 3
                                    </p>
                                    <img src="@secondLevelPokemon" height="fit-content" onerror="this.src='/images/default.gif'; this.onerror=null;" />
                                }
                                break;
                            case 3:
                                if (backLevelPokemon != null && backLevelPokemon.Level == 2)
                                {
                                    <p style="display: flex; position: absolute; top: 71px; font-size: xx-small; color: white; text-decoration-style: double; ">
                                        Level 2
                                    </p>
                                    <img src="@firstLevelPokemon" height="fit-content" onerror="this.src='/images/default.gif'; this.onerror=null;" />
                                }
                                break;
                            default:
                                break;
                        }

                    </div>
                }
                <div id="bg_curve1_right"></div>
                <div id="bg_curve2_right"></div>
                <div id="curve1_right"></div>
                <div id="curve2_right"></div>
            </div>
        </div>
    </div>
}

@code {
    int pokemonNumbers = 0;

    [Parameter] public int Id { get; set; }

    private Pokemon pokemon;
    private Pokemon nextLevelPokemon;
    private Pokemon backLevelPokemon;
    private Pokemon nextNextLevelPokemon;
    private Pokemon backBackLevelPokemon;

    protected override async Task OnInitializedAsync()
    {
        var pokemons = await PokemonService.GetAllPokemonsAsync();
        pokemonNumbers = pokemons.Count;
        pokemon = pokemons.FirstOrDefault(p => p.Id == Id);
        nextLevelPokemon = pokemons.FirstOrDefault(p => p.Id == Id + 1);
        nextNextLevelPokemon = pokemons.FirstOrDefault(p => p.Id == Id + 2);
        backLevelPokemon = pokemons.FirstOrDefault(p => p.Id == Id - 1);
        backBackLevelPokemon = pokemons.FirstOrDefault(p => p.Id == Id - 2);
    }


    // public async Task FirstLevelPokemonClick()
    // {
    //     await OnInitializedAsync();
    //     
    //     StateHasChanged();
    //     
    // }
    //
    // public async Task SecondLevelPokemonClick()
    // {
    //     
    //     await OnInitializedAsync();
    //     var pokemons = await PokemonService.GetAllPokemonsAsync();
    //     pokemon = pokemons.FirstOrDefault(p => p.Id == Id + 1 );
    //     nextLevelPokemon = pokemons.FirstOrDefault(p => p.Id == Id + 2);
    //     backLevelPokemon = pokemons.FirstOrDefault(p => p.Id == Id );
    //     StateHasChanged();
    // }

    

    
    
    public async Task NextPokemonClick()
    {
        if (Id != pokemonNumbers)
        {
            Id++;
            await OnInitializedAsync();
            StateHasChanged();
        }
    }
    
    public async Task PreviousPokemonClick()
    {
        if (Id != 1)
        {
            Id--;
            await OnInitializedAsync();
            StateHasChanged();
        }
    }
}

