@page "/PokemonDetails/{id:int}"
@inject PokemonService PokemonService
@using PokeCodexBlazor


<h3>Pokemon Details</h3>

@if (pokemon != null)
{
    <div>
        <h4>@pokemon.Name</h4>
        <p>Type 1: @pokemon.Type1</p>
        <p>Type 2: @pokemon.Type2</p>
        <p>Description: @pokemon.Description</p>
        <p>Weight: @pokemon.Weight</p>
        <p>Height: @pokemon.Height</p>
        <p>Evolves: @pokemon.Evolves</p>
        <p>Mega Evolves: @pokemon.MegaEvolves</p>
    </div>
}
else
{
    <p>Loading...</p>
}


@code {
    [Parameter]
    public int Id { get; set; }

    private Pokemon pokemon;

    protected override async Task OnInitializedAsync()
    {
        var pokemons = await PokemonService.GetAllPokemonsAsync();
        pokemon = pokemons.FirstOrDefault(p => p.Id == Id);
    }
}